Django==1.4
South==0.7.5
argparse==1.2.1
distribute==0.6.24
dj-database-url==0.2.1
psycopg2==2.4.5
wsgiref==0.1.2
git+git://github.com/jamesdabbs/django-bootstrap.git
gunicorn==0.14.5
longerusername==0.4
