{% extends 'console/base.html' %}

{% block title %}
About Auburn Puzzle Party 5
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Auburn Puzzle Party 5 <small>Puzzle Patrol II</small></h1>
    <h2>About and FAQ</h2>
</div>

<p>
    <strong>Auburn Puzzle Party 5: Puzzle Patrol II</strong> is a puzzlehunt taking place in Auburn, AL, starting Saturday, October 20, 2012 at 10am and ending Sunday, October 21, 2012 at 2pm.
</p>

<section>
<h3>Wait, what's a "puzzlehunt"?</h3>
<p>
    Good question! You're probably familiar with a "scavenger hunt", where you and a team of your friends are given a list of items to find. Your team then has to run around a designated area collecting or photographing those items, and the more items you find, the more points you earn.
</p>
<p>
    A <strong>puzzlehunt</strong> is similar. The difference is, instead of finding stuff, you find and solve puzzles. Usually not jigsaw puzzles (although those aren't forbidden), but riddles or codes. Or perhaps logic or trivia-based puzzles. Really, there's not a specific "type" of puzzle you can expect to find, and that's part of the fun!
</p>
<p>
    Essentially an adventure videogame brought to life, puzzlehunts can seem silly, but they are an incredible amount of fun, as well as a challenge! There's a whole community in Auburn, AL who plan and participate in these events (along with puzzle "parties" and "potlucks") - you can visit <a href="http://auburnpuzzleparty.wikia.org/wiki/Home">the Auburn Puzzle Party wiki</a> to learn more.
</p>
</section>

<section>
<h3>Okay, tell me about APP5.</h3>
<p>
    Auburn Puzzle Party 5: Puzzle Patrol II is the fifth community-organized puzzlehunt in Auburn. It is organized by most of the same people who brought you APP4: Auburn Puzzle Patrol in Fall 2010, and serves as a sequel. Don't worry, you don't need to be familiar with APP4 to enjoy playing in APP5, nor will it give anyone an unfair advantage!
</p>
</section>

<section>
<h3>Where is this happening?</h3>
<p>
    Well, it's <strong>Auburn</strong> Puzzle Party 5, so... Seriously though, we will host teams in <strong>Parker Hall</strong> on the Auburn University campus. Each team will be provided a classroom as their headquarters, but players are responsible for their own lodging on the night of the event. If you need help finding a place to stay, contact <a href="mailto:steven.clontz@gmail.com">Steven</a>.
</p>
<p>
    While teams are headquartered at Parker Hall, this event expands across the entire Auburn/Opelika area. Each team will need a few vehicles to transport their players around the city.
</p>
</section>

<section>
<h3>Woah, this thing goes overnight?</h3>
<p>
    That's right. The game starts at 10am Saturday and ends roughly 2pm Sunday, but there are a couple of breaks planned. We'll have a dinner break in the early evening, followed by more puzzling past midnight. However, we will give teams another break to get a few hours of sleep before morning. The Rules page has detailed information on the times.
</p>
</section>

<section>
<h3>Hmmm... should my team be Recreational or Competitive?</h3>
<p>
    Competitive, man! There will be a few aspects of the game that only the Competitive Teams take part in, as they involve head-to-head competition. Plus, there's definitely an adrenaline rush when trying to decipher a code at one in the morning out in the middle of... whoops, I may be saying too much!
</p>
<p>
    If you're not interested in playing overnight, or if you will have team members coming and going at different times during the game, we encourage you to participate as a Recreational team. This is also appropriate if you want to play on a team with your friends but don't want to be subject to the team restrictions, such as the maximum of eight players.
</p>
</section>

<section>
<h3>And what's a "Puzzle Console"?</h3>
<p>
    The Puzzle Console (that you're looking at right now) is a website designed by James Dabbs and Steven Clontz to give players access to the list of puzzles and allow them to submit puzzle solutions. As puzzles are unlocked, opened, or completed, and as points are earned, the Console will reflect the latest state of affairs for your team.
</p>
<p>
    This Console has been built from scratch with the hopes that it can be used to manage a variety of puzzle party-type events. APP5 will be its inaugural event, so we'll appreciate any feedback and bug reports you can provide!
</p>
</section>

<section>
<h3>What's your association with Auburn University?</h3>
<p>
    The majority of the event organizers are graduate students and instructors in the Auburn University Department of Mathematics and Statistics. We have received permission from the College of Science and Mathematics to use Parker Hall, but this event is not an official university event. However, we encourage Auburn University students or student organizations to organize Teams to participate in our puzzlehunt.
</p>
</section>

<section>
<h3>How do I get involved?</h3>
<p>
    As usual, several Teams will compete in this puzzlehunt, each lead by their Captain. The Captain's major responsibility is just to be the point of contact between their team and the puzzlehunt organizers. Specific rules on forming teams can be found on the Rules page.
</p>
<p>
    If you'd like to play, but aren't sure where to begin, go to <a href="https://www.facebook.com/events/304285869649148/">our Facebook event</a> and make a post. Or, feel free to email the event organizer, <a href="mailto:steven.clontz@gmail.com">Steven Clontz</a> and he'll be happy to chat with you.
</p>
<p>
    If you're a regular, note that we have designed an automated registration process on this website, rather than the usual email-the-organizer or edit-the-wiki methods. If you need help using the online registration, let <a href="mailto:steven.clontz@gmail.com">Steven</a> know. Only the captain of each team is required to register on this site - however, we recommend most if not all players register for the site, as only Players who have registered can access the Puzzle Console to view and submit solutions to puzzles.
</p>
<p>
    Either way, if you want to play, but don't yet have a team, register on the site and then email <a href="mailto:steven.clontz@gmail.com">Steven</a> to request to be put on the "Looking for Teammates" team. If you're looking for teammates, contact Steven and he'll help you find someone.
</p>

<section>
<h3>Who's organizing this mess?</h3>
<p>
    These guys:
</p>
<ul>
    <li>Steven Clontz<br />Event Organizer - <a href="mailto:steven.clontz@gmail.com">steven.clontz@gmail.com</a></li>
    <li>Kelly Bragan</li>
    <li>Daniel Brice</li>
    <li>Alex Byaly</li>
    <li>James Dabbs</li>
    <li>Erin McMullin</li>
    <li>Charles Pilman</li>
    <li>Zachary Sarver</li>
    <li>Scott Varagona</li>
</ul>
</section>

{% endblock %}













