{% extends 'console/base.html' %}

{% block content %}
<div class="page-header">
    <h1>Auburn Puzzle Party 5 <small>Puzzle Patrol II</small></h1>
</div>

<p>
    <strong>Auburn Puzzle Party 5: Puzzle Patrol II</strong> is a puzzlehunt taking place in Auburn, AL, starting Saturday, October 20, 2012 at 10am and ending Sunday, October 21, 2012 at 2pm.
</p>

<section>
<h2>Wait, what's a "puzzlehunt"?</h2>
<p>
    Good question! You're probably familiar with a "scavenger hunt", where you and a team of your friends are given a list of items to find. Your team then has to run around a designated area collecting or photographing those items, and the more items you find, the more points you earn.
</p>
<p>
    A <strong>puzzlehunt</strong> is similar. The difference is, instead of finding stuff, you find and solve puzzles. Usually not jigsaw puzzles (although those aren't forbidden), but riddles or codes. Or perhaps logic or trivia-based puzzles. Really, there's not a specific "type" of puzzle you can expect to find, and that's part of the fun!
</p>
<p>
    Essentially an adventure videogame brought to life, puzzlehunts can seem silly, but they are an incredible amount of fun, as well as a challenge! There's a whole community in Auburn, AL who plan and participate in these events (along with puzzle "parties" and "potlucks") - you can visit <a href="http://auburnpuzzleparty.wikia.org/wiki/Home">the Auburn Puzzle Party wiki</a> to learn more.
</p>
</section>

<section>
<h2>Okay, tell me about APP5.</h2>
<p>
    Auburn Puzzle Party 5: Puzzle Patrol II is the fifth community-organized puzzlehunt in Auburn. It is organized by most of the same people who brought you APP4: Auburn Puzzle Patrol in Fall 2010, and serves as a sequel. Don't worry, you don't need to be familiar with APP4 to enjoy playing in APP5, nor will it give anyone an unfair advantage!
</p>
</section>

<section>
<h2>How do I get involved?</h2>
<p>
    If you'd like to play, but aren't sure where to begin, please email the event organizer, <a href="mailto:steven.clontz@gmail.com">Steven Clontz</a> and he'll be happy to chat with you. Or if you'd prefer, go to <a href="https://www.facebook.com/events/304285869649148/">our Facebook event</a> and make a post.
</p>
<p>
    If you're a regular, note that we have designed an automated registration process on this website, rather than the usual email-the-organizer or edit-the-wiki methods. If you need help using the online registration, let <a href="mailto:steven.clontz@gmail.com">Steven</a> know. Only the captain of each team must register on this site - however, we recommend most if not all players register for the site, as only Players who have registered can access the Puzzle Console to view and submit solutions to puzzles.
</p>
</section>

{% endblock %}