{% extends 'console/base.html' %}

{% block title %}
APP5 Rules
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Auburn Puzzle Party 5 <small>Puzzle Patrol II</small></h1>
    <h2>Rules and Details</h2>
</div>

<p>
    <strong>If you will be the Captain of a Team in APP5, you are required to be familiar with the Rules of the game.</strong> (It's also highly recommended for all Players!) These will be updated as the event grows nearer, and we'll keep all Players registered on the Puzzle Console updated with the latest Rules.
</p>

<section>
<h3>Event Times</h3>
<p>
    APP5: Puzzle Patrol II will begin on Saturday, October 20, 2012 and end on the following day. Here is the schedule of events for the overall competition. (All locations to be determined.)
</p>
<ul>
    <li>
        <b>Friday, October 19</b>
        <ul>
            <li>6pm-7pm: Early check-in and Q&A with APP5 Staff</li>
        </ul>
    </li>
    <li>
        <b>Saturday, October 20</b>
        <ul>
            <li>9am-9:30am: Check-in</li>
            <li>10am-11am: Opening Puzzle</li>
            <li>10am-6pm: Puzzle Phase A</li>
            <li>11:30am-noon: Team Captains' meeting</li>
            <li>10pm-2am: Puzzle Phase B</li>
        </ul>
    </li>
    <li>
        <b>Sunday, October 21</b>
        <ul>
            <li>8am-12noon: Puzzle Phase C</li>
            <li>12:30pm-2pm: Announcement of Winners</li>
        </ul>
    </li>
</ul>
</section>

<section>
<h3>Object of the Competition</h3>
<p>
    The object of the competition is for your Team to solve as many of the puzzles you are presented with as possible. Typically, by solving puzzles your Team will earn points, but some puzzles may offer other incentives to solve them. Recreational Teams are competing against other Recreational Teams for the "Top Recreational Team" award, and Competitive Teams are competing against other Competitive Teams for the following awards:
</p>
<ul>
    <li>Best in Puzzle Phase A</li>
    <li>Best in Puzzle Phase B</li>
    <li>Best in Puzzle Phase C</li>
    <li>Top Puzzle Rumblers</li>
    <li>3rd Place Overall</li>
    <li>2nd Place Overall</li>
    <li>1st Place Overall - APP5 Winning Team</li>
</ul>
</section>

<section>
<h3>Team-Building Rules</h3>

{% include "console/teams/rules.html" %}
</section>


{% endblock %}













