{% load bootstrap_tags %}
{% load url from future %}

{% if player_form %}
    <div id="player_form">
        {% for e in player_form.non_field_errors %}
            {% alert_message 'error' e %}
        {% endfor %}
        {{ player_form.existing_player|bootstrap }}
        {{ player_form.name|bootstrap }}
        <input type="hidden" name="player_id">
        <div id="player_form_alert" class="alert" style="display:none"></div>
    </div>

    {% comment %} See https://gist.github.com/1891669 {% endcomment %}
    <script type="text/javascript">
    $(function() {
        $('#id_existing_player').chosen();
    });
    </script>
{% endif %}