<!DOCTYPE html>
{% load bootstrap_tags %}
{% load url from future %}
<html>
<head>
    <title>{%  block title %}Home{% endblock %} - Puzzle Party Console</title>
    {% bootstrap_css %}
    <!-- TODO: fix bootstrap css problems (with inputs). Stop hotlinking things -->

    <link rel="stylesheet" href="http://harvesthq.github.com/chosen/chosen/chosen.css">
    {% block extra_styles %}{% endblock %}

    {% jquery %}
</head>
<body style="padding:50px">{# Padding to work with fixed navbar #}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url 'home' %}">
                    APP5 Puzzle Console
                </a>
                {% block navlinks %}
                <ul class="nav">
                    <li><a href="{% url 'home' %}">About</a></li>
                    <!-- <li><a href="#">Rules</a></li> -->
                    <li><a href="{% url 'teams' %}">Teams</a></li>
                    <li><a href="{% url 'my_team' %}">My Team</a></li>
                    <!-- <li><a href="#">Puzzles</a></li> -->
                </ul>
                {% endblock %}

                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                    <li><a href="#">{{ user }}</a></li>
                    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                    <li><a href="{% url 'register_player' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="content">
        {% block messages %}{% bootstrap_messages %}{% endblock %}
        {% block content %}
            <div class="hero-unit" style="text-align:center;background:#aef;">
                <h1 style="text-shadow:1px">Auburn Puzzle Party 5</h1>
                <p>
                    Welcome to the <strong>Puzzle Console</strong> for <strong>Auburn Puzzle Party 5</strong>.
                    Using this website, you can create/join a Team for our <strong>puzzlehunt</strong>
                    beginning on <strong>October 20, 2012</strong> at 10am and lasting until <strong>October 21, 2012</strong>
                    at 1pm. <a href="http://auburnpuzzleparty.wikia.com/wiki/Home">(Wait, a puzzlewha?)</a>
                </p>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span4">
                            <a href="#" class="thumbnail" style="background-color:#eff">
                                <img src="http://i.imgur.com/TRpuD.png" alt="">
                            </a>
                        </li>
                        <li class="span4">
                            <a href="#" class="thumbnail" style="background-color:#eff">
                                <img src="http://i.imgur.com/tB2sI.png" alt="">
                            </a>
                        </li>
                        <li class="span4">
                            <a href="#" class="thumbnail" style="background-color:#eff">
                                <img src="http://i.imgur.com/hyWlA.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {% if not user.is_authenticated %}
            <div class="row">
                <div class="span7">
                    <h3>First time here? <small>Register for the site</small></h3>
                    <form action="{% url 'register_player' %}" method="POST" class="form form-horizontal well">
                        {% csrf_token %}
                        {% include 'console/forms/player_registration.html' %}
                        {% include 'console/forms/user_registration.html' %}
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span5">
                    <h3>Welcome back! <small>Log in</small></h3>
                    <form action="{% url 'login' %}" method="POST" class="form well">
                        {% csrf_token %}
                        {{ login_form|bootstrap }}
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                </div>
            </div>
            {% else %}
                <!-- TODO: add some more visible navigation links for common tasks -->
            {% endif %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="http://harvesthq.github.com/chosen/chosen/chosen.jquery.js"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>