{% extends 'console/base.html' %}
{% load url from future %}

{% block title %}
About {{ game.name }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ game.name|default:"Unknown Game" }}</h1>
    <h3>Dashboard</h3>
</div>

<section>

<div class="row">
    <div class="span8">
        {% for prog in team.puzzleprogress_set.all %}
        {% include 'console/puzzles/base.html' %}
        {% endfor %}
    </div>

    <div class="span4">
        <form action="{% url 'solve_puzzle' %}" method="POST">
            {% csrf_token %}
            <p>Enter code:</p>
            <p style="text-align:center"><input type="text" name="code" class="span2" /></p>
            <input type="submit" class="btn" value="Submit">
        </form>
        <div class="well well-small">
            <b>Points</b><br />
            {{ team.points }}
        </div>
        <div class="well" id="achievements" style="height:300px;overflow:auto">
            <h4>Achievements</h4>
            {% for a in team.log|slice:":5" %}
            <p>{{ a }}</p>
            <hr />
            {% empty %}
            <p>Nothing yet. Get to puzzling!</p>
            {% endfor %}
        </div>
    </div>
</div>

</section>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(function() {

    var update_time_remaining = function() {
        // TODO
    };

    var status_hash = '',
        check_for_updates = function() {
            $.ajax({
                // TODO
                success: function(new_status) {
                    if (status_hash) {
                        if (status_hash != new_status) {
                            status_update();
                        }
                    } else {
                        status_hash = new_status;
                    }
                }
            })
    }

    var status_update = function() {
        // TODO: alert message? or jQuery.load in stuff?
    }

});
</script>
{% endblock %}