{% extends 'console/base.html' %}
{% load url from future %}

{% block title %}
About {{ game.name }}
{% endblock %}

{% block extra_styles %}
<style type="text/css">
    #timeline-filters .label {
        cursor: pointer;
        margin: 2px;
    }
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span8">
        <section id="timeline">
            {% if game.finished %}
                <p>All puzzles are now closed. Thanks for playing!</p>
            {% else %}
                {% for item in team.timeline %}
                <div class="timeline-item" id="{{ item.timeline_anchor }}">
                    <a name="{{ item.timeline_anchor }}"></a>
                    {% include item.timeline_template %}
                </div>
                {% endfor %}
            {% endif %}
        </section>  
    </div>  
    <div class="offset8 span4" style="position:fixed">
        <form action="{% url 'solve_puzzle' %}" method="POST">
            {% csrf_token %}
            <div class="row" style="padding-top:20px">
                <div class="span1" style="text-align:right; font-size:18px; line-height:28px;">Code:</div>
                <div class="span2"><input type="text" name="code" class="span2" style="text-align:center; text-transform:uppercase" maxlength="6" /></div>
                <div class="span1"><input type="submit" class="btn btn-primary" value="&rarr;"></div>
            </div>
        </form>
        <p>
            <div class="row" style="padding-bottom:20px">
                <div class="span1" style="text-align:right; font-size:18px; line-height:28px;">Points:</div>
                <div class="span3" style="font-size:18px; line-height:28px;">{{ team.points }}</div>
            </div>
        </p>
        <div class="well" id="achievements" style="height:300px;overflow:auto">
            <h4>Recent Activity</h4>
            {% for a in team.recent_activity %}
            <hr>
            <p>{{ a }}</p>
            {% empty %}
            <p>Nothing yet. Get to puzzling!</p>
            {% endfor %}
        </div>
    </div>
</div>
        

</section>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(function() {
    // Find the existing labels on the page
    var labels = {};
    $('#timeline .timeline-item').each(function() {
        var label = $(this).find('.label');
        labels[label.text()] = label;
    })
    // Add filter buttons up top for each label
    var filters = $('<p id="timeline-filters"/>');
    $('#timeline').prepend(filters);
    for(k in labels) {
        var label = labels[k].clone().click(function() {
            $('#timeline .timeline-item').hide();
            var cls = $(this).attr('class').replace(' ','.');
            $('#timeline .' + cls).each(function() {
                $(this).closest('.timeline-item').show();
            });
        })
        filters.prepend(label);
    }
    // Add a "show all" button as well
    var all = $('<span class="label label-inverse">All</span>');
    all.click(function() {
        $('#timeline .timeline-item').show();
    });
    filters.prepend(all);
    filters.prepend('Show: ');

    {% comment %}
    // Better not leave TODOs in code visible to end users ...
    var update_time_remaining = function() {
        // TODO
    };

    var status_hash = '',
        check_for_updates = function() {
            $.ajax({
                // TODO
                success: function(new_status) {
                    if (status_hash) {
                        if (status_hash != new_status) {
                            status_update();
                        }
                    } else {
                        status_hash = new_status;
                    }
                }
            })
    }

    var status_update = function() {
        // TODO: alert message? or jQuery.load in stuff?
    }
    {% endcomment %}
});
</script>
{% endblock %}