<ul>
    <li>
        Players are classified based on how many Trophies they have won at past Puzzle Parties:
        <ul>
            <li><strong>Rookies</strong> are Players who have won <strong>no Trophies</strong> at past parties, including those who have not played in any past parties.</li>
            <li><strong>Heroes</strong> are Players who have only won <strong>a single Trophy</strong> at past parties.</li>
            <li><strong>Legends</strong> are Players who have won <strong>two or more Trophies</strong> at past parties.</li>
            <li><em>Past players should have the appropriate classification associated with their name already on the Console. New players should be classified as Rookies when they are created on the Console. Email <a href="mailto:steven.clontz@gmail.com">Steven</a> with any errors.</em></li>
        </ul>
    </li>
    <li>
        <strong>Recreational Teams</strong> may have any number of players, regardless of classification. Recreational teams are only eligible for the "Best Recreational Team" award at the end of the game.
    </li>
    <li>
        <strong>Competitive Teams</strong> are eligible for every other award, but are subject to the following restrictions:
        <ul>
            <li>Each team may have at most <strong>eight players</strong>. <strong>Seven or eight players</strong> is strongly recommended.</li>
            <li>The number of <strong>Legends</strong> a Team can have is determined by the number of <strong>Rookies</strong> that have registered for that Team:
                <ul>
                    <li>Any Team can have two Legends.</li>
                    <li>Teams with at least two Rookies can have three Legends.</li>
                    <li>Teams with four Rookies can have four Legends.</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>