{% extends "console/base.html" %}
{% load bootstrap_tags %}

{% block title %}{{ team }}{% endblock %}

{% block content %}
    {% if form %}
    <div class="row">
        <div class="span6">
    {% endif %}
            <div class="page-header"><h1>{{ team }}</h1></div>
            {% include "console/teams/team_detail.html" %}
    {% if form %}
        </div>
        <div class="span6">
            <div class="page-header"><h1>Manage your Team</h1></div>
            <form class="form-horizontal well" action="" method="POST">
                {% csrf_token %}
                {% for e in form.non_field_errors %}
                    {% alert_message 'error' e %}
                {% endfor %}
                {{ form|bootstrap }}
                {% comment %} TODO: add js to hide extra fields when not needed {% endcomment %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
            <h4>Team-building rules</h4>
            {% include "console/teams/rules.html" %}
        </div>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(function(){
    $('#id_players').chosen();

    var visible = 0,
        more_button = $(
            '<div class="control-group">' +
                '<div class="controls">' +
                    '<button class="btn">Add More</button>' +
                '</div>' +
            '</div>'
        ).insertBefore('.form-actions');

    $('input[name^="new_player"]').closest('.control-group').hide();
    more_button.click(function() {
        visible += 1;
        $('input[name="new_player_' + visible + '"]').closest('.control-group').show();
        return false;
    }).click();
    {% comment %} TODO: remove button when all have been displayed. {% endcomment %}


})
</script>
{% endblock %}