{% extends "console/base.html" %}
{% load bootstrap_tags %}
{% load markup %}

{% comment %}
Variables required:

game = Game to describe
puzzles = Puzzles that are a part of this game
players = All players registered on the site
{% endcomment %}

{% block title %}{{ game }} Staff Overview{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ game }} Staff Overview</h1>
</div>

<h2>The Puzzles</h2>

<p>Here are a list of the puzzles for {{ game }}.</p>

{% for puzzle in puzzles %}
<section id="puzzle-{{ puzzle.number }}" style="padding-top:50px">
<div class="well">
    <a href="#puzzle-{{ puzzle.number }}" class="pull-right">Link</a>
    <h3>Puzzle {{ puzzle.number }}: {{ puzzle }} <small>{{ puzzle.get_completion_display }}</small></h3>
    
    <hr />
    
    <div class="row"><div class="offset1 span10">
        <h4>Designer(s):</h4>
        <p>
        {% for player in puzzle.designers.all %}
            {{ player }}{% if not forloop.last %},{% endif %}
        {% empty %}
            <em>none</em>
        {% endfor %}
        </p>
        
        <h4>Playtester(s):</h4>
        <p>
        {% for player in puzzle.playtesters.all %}
            {{ player }}{% if not forloop.last %},{% endif %}
        {% empty %}
            <em>none</em>
        {% endfor %}
        </p>
        
        <h4>Description</h4>
        {{ puzzle.description|markdown|default:"<p><i>No given description</i></p>" }}
        
        {% if puzzle.attachment_url %}
            <p><strong>Attachment:</strong> <a href="{{ puzzle.attachment_url }}">{{ puzzle.attachment_url }}</a></p>
        {% endif %}
        <hr />
        
        <h4>Solution</h4>
        
        <p>
        <button type="button" class="btn btn-inverted btn-success" data-toggle="collapse" data-target="#solution-{{ puzzle.number }}" data-toggle="button">
            Reveal/Hide Solution
        </button>
        </p>
 
        <div id="solution-{{ puzzle.number }}" class="collapse"><div class="alert alert-success alert-block">
            {{ puzzle.solution|markdown|default:"<p><i>No given solution</i></p>" }}
        </div></div>
        
        <h4>Puzzle Patrol Badge Code</h4>
        <p>{{ puzzle.code.code }}</p>
    </div></div>
</div>
</section>
{% endfor %}

<h5>Player Email List</h5>

<h6>Registered for {{ game.name }}</h6>
<p>
{% for player in game.player_set.all %}{% if player.email %}
{{ player.email }}{% if not forloop.last %},{% endif %}
{% endif %}{% endfor %}
</p>

<h6>All Players</h6>
<p>
{% for player in players %}{% if player.email %}
{{ player.email }}{% if not forloop.last %},{% endif %}
{% endif %}{% endfor %}
</p>

{% endblock %}