{% extends "console/base.html" %}
{% load bootstrap_tags %}
{% load markup %}

{% comment %}
Variables required:

game = relevant Game
puzzle = if set, the puzzle to be edited, if not set, create new puzzle
{% endcomment %}

{% block title %}
{% comment %}
    {% if puzzle %}
        Edit {{ puzzle.name|default="Unknown Puzzle" }}
    {% else %}
        Create Puzzle for {{ game.name }}
    {% endif %}
    
{% endcomment %}
{% endblock %}

{% block content %}

<div class="page-header">
{% comment %}
    {% if puzzle %}
        <h1>Edit {{ puzzle.name|default="Unknown Puzzle" }}</h1>
    {% else %}
        <h1>Create Puzzle for {{ game.name }}</h1>
    {% endif %}
{% endcomment %}
</div>

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form|bootstrap:"span6" }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(function(){
    $('#id_designers').chosen();

    var visible = 0,
        more_button = $(
            '<div class="control-group">' +
                '<div class="controls">' +
                    '<button class="btn">Add More</button>' +
                '</div>' +
            '</div>'
        ).insertBefore('.form-actions');

    $('input[name^="new_player"]').closest('.control-group').hide();
    more_button.click(function() {
        visible += 1;
        $('input[name="new_player_' + visible + '"]').closest('.control-group').show();
        // Hide this button if there are no more inputs to use
        if ($('input[name="new_player_' + (visible + 1) + '"]').length == 0) {
            more_button.hide();
        }
        return false;
    }).click();
})
</script>
{% endblock %}