{% load markup %}
{% load url from future %}

<h5>Closes @ {{ p.close|time }} <small>in {{ p.close|timeuntil }}</small></h5>
<form action="{% url 'unlock_puzzle' id=p.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-success" value="Open">
</form>

{% if p.unlocked_description %}
    {{ p.unlocked_description|markdown }}
{% endif %}

{% if item.visible_clues %}
    <h5>Clues</h5>
    {% for clue in item.visible_clues %}
    <div>{{ clue|markdown }}</div>
    {% endfor %}
    </ul>
{% endif %}