{% extends "console/base.html" %}
{% load bootstrap_tags %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="well">
        <h1>Player Registration</h1>
        <p>TODO:</p>
        <ul>
            <li>Style page</li>
            <li>Add javascript to copy email into username box</li>
            <li>Improve player selection widget (js filter)</li>
            <li>Finish view</li>
        </ul>
    </div>

    <form action="" method="POST" class="form form-horizontal">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <p>You are currently logged in as <strong>{{ user.email }}</strong></p>
        {% else %}
            {% include 'console/forms/user_registration.html' %}
        {% endif %}
        {% include 'console/forms/player_registration.html' %}
        <div class="form-actions">
            <button class="btn btn-primary">Continue to Teams</button>
        </div>
    </form>
{% endblock %}