{% extends "console/base.html" %}
{% load bootstrap_tags %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="well">
        <h1>Player Registration</h1>
        <p>TODO:</p>
        <ul>
            <li>Style page</li>
            <li>Add javascript to copy email into username box</li>
            <li>Improve player selection widget (js filter)</li>
            <li>Finish view</li>
        </ul>
    </div>

    <form action="" method="POST">
        {% include 'console/forms/registration.html' %}
    </form>
{% endblock %}