{% extends "console/base.html" %}
{% load bootstrap_tags %}

{% block title %}Registration{% endblock %}

{% block content %}
    <form action="" method="POST" class="form form-horizontal">
        {% csrf_token %}
        {% include 'console/forms/player_registration.html' %}
        {% if user.is_authenticated %}
            <p>You are currently logged in as <strong>{{ user.email }}</strong></p>
        {% else %}
            {% include 'console/forms/user_registration.html' %}
        {% endif %}
        <div class="form-actions">
            <button class="btn btn-primary">Continue to Teams</button>
        </div>
    </form>
{% endblock %}